
<!-- image-block -->
<div class="image-block" >



  <!-- Rooms -->
  <h2 class="image-block-heading"><span>Rooms</span></h2>
  <div class="one-third-thumbs clearfix" >

    <figure>
      <figcaption>
        <span>Living</span>
      </figcaption>

      <a href="<%= url_for room_path("living") %>"  class="thumb"><img src="<%= @living.image.image_url %>" alt="Living" /></a>

    </figure>

    <figure>
      <figcaption>
        <span>Kitchen</span>
      </figcaption>

      <a href="<%= url_for room_path("kitchen") %>" class="thumb"><img src="<%= @kitchen.image.image_url %>" alt="Kitchen" /></a>
    </figure>

    <figure class="last">
      <figcaption>
        <span>Bed</span>
      </figcaption>

      <a href="<%= url_for room_path("bed") %>"  class="thumb"><img src="<%= @bed.image.image_url %>" alt="Bed" /></a>
    </figure>

    <%= link_to 'All rooms  &#8594;'.html_safe, rooms_path, :class => 'more-link right' %>

  </div>
  <!-- END Rooms -->



  <!-- Products -->
  <h2 class="image-block-heading"><span>Products</span></h2>
  <div class="one-fourth-thumbs clearfix">

    <figure>
      <figcaption>
        <span>Chairs</span>
      </figcaption>

      <a href="<%= url_for category_path('chairs') %>"  class="thumb"><img src="<%= @chairs.image.image_url %>" alt="Chairs" /></a>
    </figure>

    <figure>
      <figcaption>
        <span>Tables</span>
      </figcaption>

      <a href="<%= url_for category_path('tables') %>"  class="thumb"><img src="<%= @tables.image.image_url %>" alt="Tables" /></a>
    </figure>

    <figure>
      <figcaption>
        <span>Sofas</span>
      </figcaption>

      <a href="<%= url_for category_path('sofas') %>"  class="thumb"><img src="<%= @sofas.image.image_url %>" alt="Sofas" /></a>
    </figure>

    <figure class="last">
      <figcaption>
        <span>Lamps</span>
      </figcaption>

      <a href="<%= url_for category_path('lamps') %>"  class="thumb"><img src="<%= @lamps.image.image_url %>" alt="Lamps" /></a>
    </figure>
    <a href="<%= url_for categories_path %>" class="more-link right">Products  &#8594;</a>

  </div>


</div>
<!-- ENDS image-block -->
	    