
<!-- image-block -->
<div class="image-block" >



  <!-- Rooms -->
  <h2 class="image-block-heading"><span>Rooms</span></h2>
  <div class="one-third-thumbs clearfix" >

    <figure>
      <figcaption>
        <span>Living Rooms</span>
      </figcaption>

      <a href="<%= url_for room_path("living") %>"  class="thumb"><img src="<%= @living.image.image_url %>" alt="Living Room" /></a>

    </figure>

    <figure>
      <figcaption>
        <span>Kitchens</span>
      </figcaption>

      <a href="<%= url_for room_path("kitchen") %>" class="thumb"><img src="<%= @kitchen.image.image_url %>" alt="Kitchen" /></a>
    </figure>

    <figure class="last">
      <figcaption>
        <span>Bedrooms</span>
      </figcaption>

      <a href="<%= url_for room_path("bed") %>"  class="thumb"><img src="<%= @bed.image.image_url %>" alt="Bedrooms" /></a>
    </figure>

    <%= link_to 'All rooms  &#8594;'.html_safe, rooms_path, :class => 'more-link right' %>

  </div>
  <!-- END Rooms -->



  <!-- Products -->
  <h2 class="image-block-heading"><span>Products</span></h2>
  <div class="one-fourth-thumbs clearfix">

    <figure>
      <figcaption>
        <span>Chairs</span>
      </figcaption>

      <a href="<%= url_for category_path(1) %>"  class="thumb"><img src="images/home-chair.jpg" alt="Alt text" /></a>
    </figure>

    <figure>
      <figcaption>
        <span>Tables</span>
      </figcaption>

      <a href="<%= url_for category_path(2) %>"  class="thumb"><img src="images/home-table.jpg" alt="Alt text" /></a>
    </figure>

    <figure>
      <figcaption>
        <span>Sofas</span>
      </figcaption>

      <a href="<%= url_for category_path(3) %>"  class="thumb"><img src="images/home-sofa.jpg" alt="Alt text" /></a>
    </figure>

    <figure class="last">
      <figcaption>
        <span>Lamps</span>
      </figcaption>

      <a href="<%= url_for category_path(4) %>"  class="thumb"><img src="images/home-lamp.jpg" alt="Alt text" /></a>
    </figure>
    <a href="<%= url_for categories_path %>" class="more-link right">Products  &#8594;</a>

  </div>


</div>
<!-- ENDS image-block -->
	    