<h2 class="page-heading"><span><%= @designer.title %></span></h2>

<img src="<%= @designer.image.image_url(:big_thumb) %>" style="float: left; margin: 5px 30px;" />

<h3>Bio</h3>

<%= @designer.biography.html_safe %>

<div class="clearfix"></div>

<div class="image-block">
  <h2 class="image-block-heading" style="margin-top: 70px;"><span>Products</span></h2>
  <div class="one-fourth-thumbs clearfix">

    <% @designer.products.each do |product| %>

        <figure>
          <figcaption>
            <span><%= product.title %></span>
          </figcaption>

          <%= link_to image_tag(product.images.first.image_url(:small_thumb)), product_path(product), :class => 'thumb' %>
        </figure>

    <% end %>

  </div>
</div>
<!-- ENDS image-block -->