<h2 class="page-heading"><span>Retailers for this product</span></h2>

<div class="clearfix"></div>
<ul class="retailers">

  <% @retailers.each do |retailer| %>
      <li>
        <h3><%= link_to retailer.title, retailer_path(retailer) %></h3>
        <ul>
          <li><%= retailer.address %></li>
          <li><%= retailer.city %></li>
          <li><%= retailer.telephone %></li>
          <li><%= retailer.email %></li>
        </ul>
      </li>
  <% end %>

</ul>
<%= link_to "&#8592; return to product".html_safe, :back, :class => 'more_link' %>