<h2 class="page-heading"><span><%= @product.title %></span></h2>




<!-- project content -->
<div id="product-content" class="clearfix">



  <!-- slider -->
  <div class="flexslider">
    <ul class="slides">
      <% @product.images.each do |image| %>
          <li>
            <%= image_tag image.image_url %>
          </li>
      <% end %>
    </ul>
  </div>
  <!-- ENDS slider -->



  <!-- product description -->
  <div class="product-description">

    <h3>Description</h3>
    <%= @product.description.html_safe %>

    <h3>Technical Info</h3>
    <%= @product.tech_info.html_safe %>

  </div>
  <!-- ENDS product desc -->

  <!-- product-infos -->
  <aside class="product-info">
    <p>
    <ul>
      <strong>Designer</strong>

      <% @product.designers.each do |designer| %>
          <li><%= link_to designer.title, designer_path(designer) %></li>
      <% end %>

    </ul>
    </p>

    <p>
        <ul>
            <strong>Services</strong>

            <% @product.services.each do |service| %>
            <li><%= link_to service.title, service_path(service) %></li>
            <% end %>
        </ul>
    </p>

    <p>
    <ul>
      <strong>In collaboration with</strong>

      <% @product.partners.each do |partner| %>
      <li><%= link_to partner.title, partner_path(partner) %></li>
      <% end %>

    </ul>
    </p>

    <p>
      <strong>Find this product at</strong>
       <%= link_to 'our stores', retailers_product_path(params[:id]) %>
    <p>
  </aside>
  <!-- END infos -->

  <div class="clearfix"></div>


</div>
<!--  ENDS product content-->