<!doctype html>
<html>

<head>
  <meta charset="utf-8"/>
  <title>LaMaNero</title>


  <%= stylesheet_link_tag "style.css" %>

  <!-- JS -->
  <%= javascript_include_tag "jquery-1.6.4.min.js" %>
  <%= javascript_include_tag "custom.js" %>

  <!-- Nested-Forms -->
  <%= javascript_include_tag "nested_form.js" %>

  <!-- GOOGLE FONTS -->
  <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300' rel='stylesheet' type='text/css'>

  <!-- Flex Slider -->
  <%= stylesheet_link_tag "flexslider.css" %>
  <%= javascript_include_tag "jquery.flexslider-min.js" %>
  <!-- ENDS Flex Slider -->

  <!-- modernizr -->
  <%= javascript_include_tag "modernizr.js" %>


</head>

<body lang="en">

<header class="clearfix">

  <div class="wrapper">
    <%= link_to image_tag("layout/logo.png"), home_index_path, :id => "logo" %>
    <!-- <%= controller.controller_name %> we can use this parameter
    to get the controller that is creating the view in order to color
    the right label in the navigation info -->

    <nav>
      <ul id="nav">
        <li><a href="">LIVING</a></li>
        <li><a href="">KITCHEN</a></li>
        <li><a href="">BED</a></li>

        <li class="right-item"><a href="">STORES</a></li>
        <li class="right-item"><a href="">CONTACT US</a></li>

      </ul>
    </nav>

  </div>

</header>




<!-- MAIN -->
<div id="main">
  <div class="wrapper">

    <%= yield %>

  </div>
</div>
<footer>
  <div class="wrapper">

    <ul  class="footer-cols clearfix">
      <li class="first-col">

        <div class="footer-block">
          <h4>&nbsp;</h4>
          <ul>
            <li><a href="">About us</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">Stores</a></li>

          </ul>
        </div>
      </li>

      <li class="second-col">

        <div class="footer-block">
          <h4>Our Products</h4>
          <ul>
            <li><a href="">Top Selection</a></li>
            <li><a href="">Designers</a></li>
            <li><a href="">Products</a></li>
            <li><a href="">DNA</a></li>


          </ul>
        </div>

      </li>

      <li class="third-col">

        <div class="footer-block">
          <h4>&nbsp;</h4>
          <ul>

            <li><a href="">Services</a></li>
            <li><a href="">Partners</a></li>
            <li><a href="">Events</a></li>

          </ul>
        </div>

      </li>

    </ul>

  </div>
</footer>

</body>

</html>
