<!doctype html>
<html>

<head>
  <meta charset="utf-8"/>
  <title>LaMaNero</title>


  <%= stylesheet_link_tag "application.css" %>
  <%= javascript_include_tag "application.js" %>

  <!-- GOOGLE FONTS -->
  <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300' rel='stylesheet' type='text/css'>

</head>

<body lang="en">

<header class="clearfix">

  <div class="wrapper">
    <%= link_to image_tag("layout/logo.png"), root_path, :id => "logo" %>
    <!-- <%= controller.controller_name %> we can use this parameter
    to get the controller that is creating the view in order to color
    the right label in the navigation info -->

    <nav>
      <ul id="nav">
        <li><%= link_to 'living', room_path(1) %></li>
        <li><%= link_to 'kitchen', room_path(2) %></li>
        <li><%= link_to 'bed', room_path(3) %></li>

        <li class="right-item"><%= link_to 'stores', retailers_path %></li>
        <li class="right-item"><a href="">contact us</a></li>

      </ul>
    </nav>

  </div>

</header>

<!-- MAIN -->
<div id="main">
  <div class="wrapper">

    <%= yield %>

  </div>
</div>

<footer>
  <div class="wrapper">

    <ul  class="footer-cols clearfix">
      <li class="first-col">

        <div class="footer-block">
          <h4>&nbsp;</h4>
          <ul>
            <li><%= link_to 'About us', infos_path %></li>
            <li><a href="">Contact</a></li>
            <li><%= link_to 'Stores', retailers_path %></li>

          </ul>
        </div>
      </li>

      <li class="second-col">

        <div class="footer-block">
          <h4>Our Products</h4>
          <ul>
            <li><a href="">Top Selection</a></li>
            <li><%= link_to 'Designers', designers_path %></li>
            <li><%= link_to 'Products', products_path %></li>
            <li><a href="">DNA</a></li>


          </ul>
        </div>

      </li>

      <li class="third-col">

        <div class="footer-block">
          <h4>&nbsp;</h4>
          <ul>

            <li><%= link_to 'Services', services_path %></li>
            <li><%= link_to 'Partners', partners_path %></li>
            <li><a href="">Events</a></li>

          </ul>
        </div>

      </li>

    </ul>

  </div>
</footer>

</body>

</html>
